In [177]:
import pandas as pd
import numpy as np
# import matplotlib.pyplot as plt

In [ ]:
student_data = [
    [100,90,10],
    [90,70,7],
    [120,100,14],
    [80,50,2],
]

# pd.DataFrame(student_data)
df = pd.DataFrame(student_data, columns=['iq','marks','package'], index=['Reno','Ryan','Ryo','Fadhil']) #index = untuk mengubah nama baris
# df =pd.DataFrame(student_data, columns=['iq','marks','package'])
df

In [ ]:
df.columns = ['a','b','c'] #ganti nama kolom
df

In [ ]:
# using dictionary

student_dict = {
    'iq'        : [100, 90, 80, 120, 0, 0],
    'marks'     : [80, 70, 100, 90, 0, 0],
    'package'   : [10, 7, 14, 2, 0, 0],
}
 
students = pd.DataFrame(student_dict)
students

In [ ]:
students[['iq']] #untuk mengambil nilai salah satu kolom

In [ ]:
data_harga = pd.read_csv('ms_harga_harian.csv')
data_harga

In [ ]:
print(data_harga.shape)
print(data_harga.columns)

In [ ]:
data_harga.info()

In [ ]:
data_harga.describe()

In [ ]:
data_harga.head() #untuk menampilkan 5 data teratas

In [ ]:
data_harga.tail() # untuk menampilkan 5 data terbawah

In [ ]:
data_harga [2:12:2]

In [ ]:
dh5000 = data_harga[(data_harga['modal_cabang'] < 5000)] #menampilkan harga modal cabamg yang kurang dari 5000
dh5000

In [ ]:
# dh5000['kode_cabang'].unique() #untuk mengetahui cabang yang memiliki modal cabang yang kurang dari 5000
(dh5000['kode_produk'].unique()) #untuk mengetahui cabang yang memiliki modal cabang yang kurang dari 5000

In [ ]:
data_harga.head()

In [ ]:
data_harga['tambahan_modal'] = data_harga['modal_cabang'] + 5000
data_harga.head()

$$DATA-PRODUK$$

In [ ]:
produk = pd.read_csv('ms_produk.csv')
produk

$$TUGAS$$

$$SOAL-1$$

In [ ]:
data_harga['nama produk'] = produk['nama_produk']
data_harga[0:42]

In [ ]:
# jumlah seluruh harga yng berlaku
data_harga.loc[(data_harga['kode_produk'] >= "PROD-0000001") & (data_harga['kode_produk'] <= "PROD-0000041"), 'harga_berlaku_cabang'].sum()

$$SOAL-2$$

In [ ]:
results = []
for i in range(1, 41):
    kode_produk = f"PROD-00000{i:02d}"
    total_harga = sum(data_harga[(data_harga['kode_produk'] == kode_produk)]['harga_berlaku_cabang'])
    results.append({'kode_produk': kode_produk, 'total_harga': total_harga})

df = pd.DataFrame(results)
print(df)

data_harga['total'] = df['total_harga']
data_harga.head(42)

In [209]:
# len(data_harga[(data_harga['kode_produk'] == "PROD-0000001")])

1098

In [ ]:
results = []
for i in range(1, 41):
    kode_produk = f"PROD-00000{i:02d}"
    total_produk = len(data_harga[(data_harga['kode_produk'] == kode_produk)])
    results.append({'kode_produk': kode_produk, 'total_produk': total_harga})

df = pd.DataFrame(results)
print(df)

data_harga['jumlah_produk'] = df['total_produk']
data_harga.head(42)